@media (max-width: 575px) {
    .btn-outer {
        position: fixed;
        background-color: white;
        padding: 8px 0;
        bottom: 0;
        width: 100%;
        left: 0;
        justify-content: center !important;
        z-index: 9999;
    }

    .whatsappbtn,
    .call {
        padding: 7px 15px;
        font-size: 14px;
    }
}


@media only screen and (min-width: 200px) and (max-width: 575px) {
    .btn-outer {
        position: fixed;
        background-color: white;
        padding: 5px 0px;
        bottom: 0px;
        width: 100%;
        left: 0px;
        justify-content: center !important;
    }

    .whatsappbtn,
    .call {
        padding: 7px 15px;
        font-size: 14px;
    }

    .bannerContent h1 {
        font-size: 28px;
        font-weight: bolder;
        text-align: center;
        line-height: 35px;
    }

    .bannerContent br {
        display: none;
    }

    .bannerContent p,
    .bannerContent ul li {
        font-size: 16px;
    }

    .bannerContentBtn {
        flex-direction: column;
    }

    .bannerContentBtn button {
        width: 100%;
        font-size: 16px;
    }

    .bannerForm {
        padding: 20px;
    }

    .bannerForm button {
        font-size: 16px;
    }

    .bookBtn {
        width: 100%;

    }
}


@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1170px;
    }

    .bookBtn {
        width: 20%;
        background: linear-gradient(to right, #0ACEFE, #2699FB);
        color: white;
    }
}

.highlightsSection h2 {
    font-size: 28px;
}

.highlightItems h4 {
    font-size: 20px;
    font-weight: 600;
}

.highlightItems p {
    font-size: 15px;
}